<div *ngIf="showImages" class="container emp-profile">

  <div class="row">
    <div class="like col col-md-2">
      <input (click)="operation('Like')" class="like-image" type="image" src="../../assets/Heart-Love-PNG-Photo.png" />

    </div>
    <div class="col col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
          <li *ngFor="let image of this.currentUser.images; let i = index" data-target="#carouselExampleIndicators"
            data-slide-to="i" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let image of this.currentUser.images; let i = index" [ngClass]="(i == 1) ? 'active' : ''"
            class="carousel-item">
            <img class="d-block w-100" [src]="getImageUrl(i)" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <hr>
      <h2 class="name">{{ currentUser.firstName }} {{ currentUser.lastName }}<span class="age">- {{ currentUser.age }}
          years old</span></h2>
      <hr class="hr-tag">
      <div class="bio">
        <h5 class="bio">BIO: </h5>
        <p class="wordwrap">
          {{ currentUser.description }}
        </p>
        <h5 class="bio">Hobbies: </h5>
        <p> {{ currentUser.description }} </p>
      </div>
    </div>
    <div class="like col col-md-2">
      <input (click)="operation('Dislike')" class="dislike-image" type="image"
        src="../../assets/Broken-Heart-PNG-Photos.png" />
    </div>
  </div>

</div>
