ul {
  list-style: none;
}

a {
  padding: 5px;
  margin: 5px;
}

.nav-container {
  position: absolute;
  right: 0px;
  width: 200px;
  padding-right: 10px;
  height: 100%;
}

.log-out{
 position: absolute;
 bottom: 0;
}
