<div class="container emp-profile" *ngIf="images">
  <div class="row">
  </div>
  <div class="row">
    <div class="col col-md-4">
      <div class="profile-img">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let image of images; let i = index" data-target="#carouselExampleIndicators" data-slide-to="i"
              class="active"></li>
          </ol>
          <div *ngIf="showImages" class="carousel-inner" role="listbox">
            <div *ngFor="let image of images; let i = index" [ngClass]="(i == 1) ? 'active' : ''" class="carousel-item">
              <img class="d-block w-100" [src]="getImageUrl(i)" alt="First slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <hr>
            <form>
              <div class="form-group">
                <input class="image-input" type="file" (change)="load($event)" #fileInput accept="image/*" required />
              </div>
              <div class="form-group">
                <button type="submit" (click)="fileInput.click()" class="btn btn-primary">Add Photo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h4>
          {{userModel.firstName}} {{userModel.lastName}}
        </h4>
        <h6>
          {{userModel.age}} years old
        </h6>
        <div class="wordwrap">{{ userModel.description }}</div>
        <p class="proile-rating">Matches : <span>5</span></p>
        <hr>
        <h4>Your Information:</h4>
        <hr>
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Fist Name:</label>
              </div>
              <div class="col-md-6">
                <p>{{userModel.firstName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name:</label>
              </div>
              <div class="col-md-6">
                <label>{{ userModel.lastName }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email: </label>
              </div>
              <div class="col-md-6">
                <p>{{ userModel.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Age: </label>
              </div>
              <div class="col-md-6">
                <p>{{ userModel.age }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Hobbies: </label>
              </div>
              <div class="col-md-6">
                <p>{{ userModel.hobbies }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-2">
      <a routerLink="Profile/Edit" class="profile-edit-btn"><button class="btn btn-secondary pull-right">Edit
          Profile</button></a>
    </div>
  </div>

</div>
