<form #form="ngForm" (ngSubmit)="register(form.value)" [mustMatch]="['Password', 'ConfirmPassword']">
  <div class="row">
    <div class="col md-6-sm">
      <div class="form-group">
        <label for="Email">Email address *</label>
        <input id="Email" type="email" class="form-control" name="Email" placeholder="Enter email" email
          #email="ngModel" required ngModel>
        <span class="text-danger" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="text-danger" *ngIf="email.errors?.email && email.touched">Email must be a valid email
          address</span>
      </div>
      <div class="form-group">
        <label for="Password">Password *</label>
        <input type="password" class="form-control" name="Password" placeholder="Password" #password="ngModel" required
          ngModel minlength="6">
        <span class="text-danger" *ngIf="password.invalid && password.touched">Password must be at least 6
          characters long</span>
      </div>
      <div class="form-group">
        <label for="Password">Confirm Password *</label>
        <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password"
          #confirmPassword="ngModel" ngModel required>
        <span class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">Passwords must
          match</span>
      </div>
    </div>
    <div class="col col-6-sm">
      <div class="form-group">
        <label for="FirstName">First Name *</label>
        <input type="text" class="form-control" name="FirstName" minlength="2" placeholder="First Name"
          #firstName="ngModel" ngModel required>
        <span class="text-danger" *ngIf="firstName.errors?.required && firstName.touched">First name is
          required</span>
        <span class="text-danger" *ngIf="firstName.errors?.minlength && firstName.touched">First name must be at
          least 2 characters long</span>
      </div>
      <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" name="LastName" placeholder="Last Name" ngModel>
      </div>
      <div class="form-group required">
        <label for="Gender">Gender *</label>
        <select class="form-control" name="Gender" [(ngModel)]="selectedGender">
          <option selected="Male" value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
  </div>
  <label>Date of birth:</label>
  <div class="row">
    <div class="col col-4-sm">
      <label class="date-of-birth" for="Day">Day</label>
      <select id="Day" class="form-control" name="Day" [(ngModel)]="selectedDay">
        <option *ngFor="let day of days">{{ day  }}</option>
      </select>
    </div>
    <div class="col col-4-sm">
      <label class="date-of-birth" for="Month">Month</label>
      <select id="Month" class="form-control" name="Month" [(ngModel)]="selectedMonth">
        <option *ngFor="let month of months">{{ month }}</option>
      </select>
    </div>
    <div class="col col-4-sm">
      <label class="date-of-birth" for="Year">Year</label>
      <select id="Year" class="form-control" name="Year" [(ngModel)]="selectedYear">
        <option *ngFor="let year of years">{{ year }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col col-12-sm">
      <div class="form-group">
        <label for="Description">Desctription</label>
        <textarea class="form-control" id="Description" name="description" rows="3"
          placeholder="Tell us about yourself..." ngModel></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12-sm">
      <div class="form-group">
        <label for="Description">Hobbies</label>
        <input type="text" class="form-control" name="hobbies" id="tokenfield" value="Running" />

      </div>
    </div>
  </div>
  <div class="col text-center">
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Register</button>
  </div>
</form>
